*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	
	/*background: #08b7bd;
	background: -webkit-linear-gradient(to right, #6dd5ed, #0fb4b4);
	background: linear-gradient(to right, #6dd5ed, #1fb4b4); */
	
	/*nuevo*/
	/*background-color: #14bbad;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%238ceae6' fill-opacity='1'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	*/
	font-family: 'Open Sans', sans-serif;
	background-color: #81f2e8;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23139288' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.wrap > h1{
	color: #F7F7F7;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}

.wrap > h1:after{
	content: '';
	width: 100%;
	height: 2px;
	background: #F7F7F7;
	margin: 20px 0;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 15%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 10% 0;
	margin-bottom: 10%;
	background: #494646;
	border-radius: 5px;
    /*-------------------------*/
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.category_list .ct_item-active{
	background: #1ABC9C ;
	border-radius: 5px;
}

/* PRODUCTOS ============*/

.products-list{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
}


.products-list .product-item{
	width: 20%;
	margin-left: 1%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
}

.products-list .product-item img {
	width: 100%;
	border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-webkit-border-radius: 7px 7px 0px 0px;
	border: 0px solid #000000;
}

.product-item a{
	border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-webkit-border-radius: 7px 7px 0px 0px;
	border: 0px solid #000000;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 5% 0;
	background: white;
	border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	-webkit-border-radius: 0px 0px 7px 7px;
	border: 0px solid #000000;

	color: black;
	font-size: 120%;
	text-align: center;
	text-decoration: none;
}
/*NUEVO CSS---------------------------------------------------------------------------------------------------------------------------*/

header{
    width: 100%;
    height: 300px;
	/*background: #30C9B8;*/
	background: -webkit-linear-gradient(to right, rgba(110, 214, 237, 0.877), hsla(172, 79%, 78%, 0.925));
    background: linear-gradient(to right, hsla(173, 72%, 50%, 0.822), hsla(173, 77%, 44%, 0.774));
    
    text-align: center;
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

header h1{
    font-size: 500%;
    color: beige;
    line-height: 230px;
    font-weight: 300;
    transition: all 0.3s ease;
}

header h1 i{
    font-weight: bold;
    text-transform: uppercase;
}

header nav{
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background: #119F8F;
}

header nav a{
    color: white;
    display: inline-block;
    padding: 10px 4%;
    line-height: 1;
    text-decoration: none;
    border-radius: 5px;
}

header nav a:hover{
    background: #88F9ED ;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 2;
    color: white;

}



/*Agregando los section xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

section{
    margin: 12%;
	padding: 2%;
	width: 100%;
	/*background: #4ACBBE;*/
	background: #078d86;
	background: -webkit-linear-gradient(to right, #54e4f7, #038585);
    background: linear-gradient(to right, #09c0c0, #0c9c9c);
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

section h1{
    font-size: 'Open Sans';
    font-size: 300%;
	color: white;
    line-height: 230px;
    font-weight: 300;
    transition: all 0.3s ease;
}


body.sticky-header{
    padding-top: 100px;
}

body.sticky-header header{
    height: 60px;
    background: #30C9B8;
}

body.sticky-header header h1{
    transform: scale(0, 0);
}

/* RESPONSIVE */

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}

/*CODIGO DE FOOTER -------------------------------------------------------------------------------*/

footer{
    width: 100%;
    background: #202020;
    color: white;
    
}

.container-footer-all{
    width: 100%;
    max-width: 1600px;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}

.colum2 h1{
    font-size: 22px;
}

.colum2 .row{
    margin-top: 20px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #c7c7c7;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    max-width: 100%;
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright{
    color: #c7c7c7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #c7c7c7;
}

@media screen and (max-width: 1100px){
    .container-body{
        flex-wrap: wrap;
    }

    .colum1{
        max-width: 100%;
    }

    .colum2,
    .colum3{
        margin-top: 40px;
    }
}

